/*general*/
@font-face {
  font-family: "chpt3-pop";
  src: url(font/popcon.ttf);
}
@font-face {
  font-family: "Alibaba-b";
  src: url(font/Alibaba-PuHuiTi-Bold.otf);
}
@font-face {
  font-family: "Alibaba-h";
  src: url(font/Alibaba-PuHuiTi-Heavy.otf);
}
@font-face {
  font-family: "Alibaba-m";
  src: url(font/Alibaba-PuHuiTi-Medium.otf);
}
@font-face {
  font-family: "Alibaba-r";
  src: url(font/Alibaba-PuHuiTi-Regular.otf);
}
@font-face {
  font-family: "Alibaba-l";
  src: url(font/Alibaba-PuHuiTi-Light.otf);
}
@font-face {
  font-family: "type2";
  src: url(font/type2.ttf);
}
@font-face {
  font-family: "popcon";
  src: url(font/popcon.ttf);
}

body {
  background: #f9f5f3;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.all-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 250px;
  gap: 37px;
  position: relative;
  position: relative;
  background: #f9f5f3;
  align-self: stretch;
}
.chpt-title {
  width: 100%;
  align-items: center;
  text-align: center;
}
.chpt-title img {
  width: 800px;
  margin: 120px auto 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0px;
}
h1 {
  color: #3d3d3f;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  line-height: normal;
}
h2 {
  color: #575757;
  line-height: normal;
  font-family: "微软雅黑";
  margin: 200px auto 80px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px; /*text-shadow: 4px 4px 3px #c7cd83;*/
}
h3 {
  color: #d7b065;
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
h4 {
  color: #797979;
  font-size: 18px;
  font-weight: 400;
}
p {
  font-family: "type2";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: -0.005em;
  color: #464646;
  margin: 3px 40px;
  margin-top: 10px;
  text-indent: 2em;
}
strong,
span {
  color: #878787;
  font-weight: normal;
}
html {
  -webkit-font-smoothing: antialiased;
}
a {
  color: #575757;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover,
a:active,
a:focus {
  color: #ffffff;
  outline: none;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.section-title {
  margin: 0;
  padding-bottom: 32px;
}
.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}
.kirakira {
  color: #000000;
  animation: blink 1s infinite;
}
.shortline::after {
  content: "|";
  color: darkgray;
  animation: blink 1s infinite;
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* CATALOG */
.catalog {
  position: fixed;
  top: 5px;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 1000;
}
.catalog-kid {
  width: 43px;
  height: 46px;
  margin: 5px;
  padding: 8px 20px 6px 10px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.catalog-num {
  font-size: 20px;
  color: #ffffff;
  line-height: 32px;
  margin-right: 8px;
  letter-spacing: 2px;
  font-family: "华文彩云";
  font-weight: bold;
  text-shadow: 1px 1px #bbbbbb;
  display: inline-block;
}
.catalog-text {
  font-family: "阿里巴巴普惠体 M";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 31px;
  text-align: justify;
  color: #ffffff;
}
.catalog-kid:hover {
  width: auto;
  height: auto;
  transition: all 0.2s ease-in;
}
.catalog-kid a {
  opacity: 0;
  transition: opacity 0.2s ease-in;
  overflow: hidden;
  flex: none;
  flex-grow: 0;
  margin-bottom: 0;
}
.catalog-kid:hover a {
  opacity: 1;
}
/* CHPT0&&HOME*/
.chpt0-mention {
  z-index: 1000;
  margin: 0px;
  display: flex;
  gap: 5px;
  position: absolute;
  width: auto;
  height: auto;
  left: 2%;
  top: 40%;
  border-radius: 4px;
}
.chpt0-mention-text p {
  margin: 0px;
  width: auto;
  height: 23px;
  font-family: "chpt3-pop";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150.7%;
  text-align: center;
  letter-spacing: 0.085em;
  color: #000000;
}
.chpt0-container {
  z-index: 1;
  width: auto;
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("image/chpt0-1.jpg");
  background-size: cover;
  background-position: center;
}
.chpt0-chatbox {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  padding: 37px 40px;
  position: absolute;
  width: 680px;
  height: 430px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.chpt0-chat {
  display: none;
  font-family: "Alibaba-l";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  flex: none;
}
.chpt0-text {
  font-family: "Alibaba-l";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
  text-align: justify;
  color: #ffffff;
}
.chpt0-pop {
  display: none;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  gap: 10px;
  position: absolute;
  width: 672px;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.chpt0-pop-text {
  font-family: "Alibaba-r";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: justify;
  color: #000000;
}
.chpt0-title {
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
}
chpt0-frame {
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
}

#change-trigger {
  transition: background-image 0.3s ease;
}
#home {
  background: url("../image/chpt1-5.png") 50% 0 repeat-y fixed;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75vh;
  text-align: center;
  position: relative;
  margin: 82px 12px 0 12px;
}
.home-wrapper {
  background: rgba(250, 250, 250, 0.8);
  padding: 32px 12px;
}
.chpt0-title-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px 76px;
  gap: 19px;
  z-index: 1000;
  position: absolute;
  width: 1300px;
  height: auto;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: rgba(255, 255, 255, 0.9);
}
.chpt0-maintitle {
  width: 80%;
}
.chpt0-subtitle {
  font-family: "Alibaba-b";
  margin-top: -100px;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 150.7%;
  text-align: justify;
  letter-spacing: 0.355em;
  color: #d7b065;
}

/* CHPT-TITLE */
/* CHPT1*/
.chpt1-text {
  position: relative;
  z-index: 2;
}
.chpt1-1 {
  margin-top: 30px;
}
.chpt1-girl {
  position: absolute;
  z-index: -1;
  width: 800px;
  margin: 0 auto;
}
.chpt1-girl img {
  display: block;
  width: 600px;
  margin: 0 470px;
  opacity: 0.5;
}
#mogui {
  font-size: 26px;
  color: #56483d;
  text-shadow: 1px 1px 1px #d1c1c1;
  font-weight: 500;
}
.bold-large {
  font-size: 18px;
  color: #bd7466;
  font-weight: bold;
  text-shadow: 1px 1px 1px #d2bbbb;
}
.bold {
  font-weight: bold;
  color: #97866d;
  text-shadow: 1px 1px 1px #d2bbbb;
}
.bold-red {
  font-weight: bold;
  font-size: 20px;
  color: #ac645c;
  text-shadow: 2px 2px 1px #f0e8d9;
}
.delete {
  text-decoration: line-through;
  color: #a4856f;
  font-weight: bold;
  text-shadow: 1px 1px 1px #d2bbbb;
}
.flourish {
  margin: 80px auto 80px; /*width: 600px;*/
}
.piaoliang {
  font-size: 44px;
  line-height: 10px;
  border-bottom: 24px solid #e8b67f;
  display: inline-block;
  font-weight: bold;
}
.center-red {
  font-weight: bold;
  font-size: 20px;
  margin: 50px 0;
  color: #d07767;
  text-align: center;
}
/*CHPT2*/
.chpt2-0 p {
  text-align: center;
  font-size: 18px;
  color: #8ba38d;
  letter-spacing: 2px;
  font-weight: bold;
  /*  font-style: italic;*/
}
.subtitle {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 100px 0 50px;
}
.num {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  color: #b95350;
  font-size: 46px;
  font-weight: bold;
  /*background-color: #b95350;*/
  border-radius: 50%;
  opacity: 0.5;
  z-index: 1;
}
.chart-title {
  margin-top: 50px;
  margin-bottom: -40px;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: "阿里巴巴普惠体 M";
  font-weight: 700;
  text-align: center;
  color: #a4856f;
  text-shadow: 2px 2px rgba(250, 232, 229, 0.8);
}
.data-source {
  font-family: "阿里巴巴普惠体 L";
  font-size: 13px;
  margin-left: 100px;
  /*	margin-top: 20px;*/
  color: #a4856f;
  letter-spacing: 1px;
}
.chpt3-2 {
  background-image: url("image/cases.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 700px;
  padding-bottom: 200px;
  background-attachment: fixed;
  height: auto;
}
.chpt2-2kuang {
  z-index: 1000;
  position: relative;
  margin: 300px auto;
  width: 500px;
  height: auto;
  padding: 20px 80px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(155, 140, 134, 0.8);
}
.bar {
  width: 700px;
  height: 470px;
  margin-top: 50px;
}
.bar img {
  width: 630px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px auto 0;
  transition: opacity 0.5s ease-in-out;
}
.cases1 {
  opacity: 1;
}
.cases2 {
  opacity: 0;
}
.bar:hover .cases1 {
  opacity: 0;
}
.bar:hover .cases2 {
  opacity: 1;
}
.explanation {
  margin-top: 10px;
  font-size: 15px;
  color: #ba977d;
}
.chpt2-4-chart {
  margin: 80px auto 0;
  width: 600px;
  /*	height: 600px;*/
}
.bold-orange {
  font-size: 18px;
  color: #da9261;
  font-weight: bold;
}
.chpt2-3-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  overflow: auto;
  height: 100vh;
  background-image:url("image");
}
.chpt2-3-container::-webkit-scrollbar {
  display: none;
}
.flrh-enhance {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
.kuang-enhance {
  position: sticky;
  z-index: 3;
  top:0;
}
/*CHPT3*/
.chpt3-content {
  display: flex;
  flex-direction: column;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.chpt3-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 0px;
  gap: 10px;
  flex: none;
  flex-grow: 0;
}
.chpt3-pop-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9px 0px;
  gap: 16px;
}
.chpt3-pop-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 9px 0px;
  gap: 16px;
}
.chpt3-popchan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 23px 20px;
  border-radius: 20px;
  flex: none;
  flex-grow: 0;
}
.chpt3-pop-title {
  font-family: "chpt3-pop";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2px;
  text-align: justify;
  letter-spacing: 0.15em;
  color: #000000;
  flex: none;
  flex-grow: 0;
  margin-bottom: 0px !important;
}
.chpt3-pop-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 30px;
  padding: 30px 30px;
  gap: 10px;
  border-radius: 20px;
}
.chpt3-pop-text p {
  font-family: "chpt3-pop";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150.7%;
  text-align: justify;
  letter-spacing: 0.085em;
  color: #000000;
  flex: none;
  margin: 0px;
  flex-grow: 0;
  width: 500px;
}
.chpt3-voice img {
  width: 70%;
}
/*CHPT4*/
.chpt4-0 {
  width: 800px;
  margin: 30px auto 0;
}
.chpt4-0 p {
  text-align: center;
  font-size: 18px;
  color: #8ba38d;
  letter-spacing: 2px;
  font-weight: bold;
  /*  font-style: italic;*/
}
.chpt4-text {
  position: relative;
  text-align: center;
  margin-top: 50px;
}
.chpt4-text p {
  color: #7f6b5e;
  text-align: center;
  text-indent: 0;
  font-style: italic;
}
.gif {
  z-index: 0;
  position: absolute;
  left: 750px;
  margin-top: -40px;
}
.gif img {
  width: 80px;
}
/* FOOTER */
#footer {
  margin-top: 100px;
  background-image: url("image/footer.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-box {
  width: 700px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  word-wrap: break-word;
  padding: 20px;
  overflow: auto;
}
.footer-text {
  width: 600px;
  font-size: 12px;
  margin: auto;
  line-height: 5px;
  line-height: 20px;
  color: #719382;
}
.footer-legal {
  width: 500px;
  margin: 50px auto 100px;
}
.footer-legal p {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  color: #719382;
  margin-top: 20px;
  letter-spacing: 2px;
}
.teammember p {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  color: #719382;
  margin-top: 20px;
  letter-spacing: 2px;
  text-indent: 0;
}
.end {
  margin-top: 80px;
}
.email {
  margin: 80px auto 30px;
  font-size: 12px;
  color: #719382;
}
